<nav>
  <ol class="breadcrumb">

    <li class="breadcrumb-item">
        <a routerLink="/" > Home </a>
    </li>
    <li class="breadcrumb-item active">
        Categorias  
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <!--largura toda da linha-->
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Categorias
    </h1>
  </div>
   <div class="col-md-2"> 
     <a routerLink="new" class="btn btn-success float-right">+ Nova Categoria</a>
   </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
    <th>Categorias</th>
   <th>Ações</th></tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of categories">
    <td>
       <strong>{{item.name}}</strong>  - 
        <small>{{item.description}}</small>
      </td>
         <!-- entende que tem a url /categories antes do id e edit
           para absoluto seria /12,edit-->
       <td>
         <a  [routerLink]="[item.id,'edit']" class="btn btn-outline-info btn-sm mr-2 ">Editar</a> -  
         <button   (click)="deleteCategory(item)"   class="btn btn-outline-danger btn-sm">Excluir</button> 
      </td>
      </tr>
</tbody>
</table>